[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-beamdimension
Exec=harbour-beamdimension
Name=BeamCalc
Name[de]=BeamCalc

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-beamdimension
